<form action="/newquestion" method="post">
  Question<input type="text" name="content"><br>
  Answer<input type="text" name="true_answer"><br>
  Non-Answer Choice 1<input type="text" name="false_answer1"><br>
  Non-Answer Choice 2<input type="text" name="false_answer2"><br>
  Non-Answer Choice 3<input type="text" name="false_answer3"><br>
  <input type="submit">
</form>