<form action="/newquestion" method="post">
  <input type="text" name="content">Question</input>
  <input type="text" name="true_answer">Answer</input>
  <input type="text" name="false_answer1">Non-Answer Choice</input>
  <input type="text" name="false_answer2">Non-Answer Choice 2</input>
  <input type="text" name="false_answer3">Non-Answer Choice 3</input>
  <input type="submit">
</form>

Is this visible yes/no